In [1]:
import numpy as np
import pandas as pd

In [2]:
fashion= pd.read_csv('data.csv')

In [3]:
fashion.head(2)

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent
0,Croc Textured Two Fold Wallet,Lino Perros,0.0,0,1295,828,Onesize,wallets/lino-perros/lino-perros-women-peach-co...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets,lino-perros,467,36
1,Men Striped Sliders,Mast & Harbour,4.0,76,1299,584,"UK6,UK7,UK8,UK9,UK10,UK11",flip-flops/mast--harbour/mast--harbour-men-nav...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops,mast--harbour,715,55

In [4]:
fashion.info()
fashion.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168029 entries, 0 to 168028
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   product_name      168029 non-null  object
 1   brand_name        168029 non-null  object
 2   rating            168029 non-null  float64
 3   rating_count      168029 non-null  int64
 4   marked_price      168029 non-null  int64
 5   discounted_price  168029 non-null  int64
 6   sizes             168029 non-null  object
 7   product_link      168029 non-null  object
 8   img_link          168029 non-null  object
 9   product_tag       168029 non-null  object
 10  brand_tag         168029 non-null  object
 11  discount_amount   168029 non-null  int64
 12  discount_percent  168029 non-null  int64
dtypes: float64(1), int64(5), object(7)
memory usage: 16.7+ MB

(168029, 13)

In [5]:
fashion.isnull().sum()

product_name        0
brand_name          0
rating              0
rating_count        0
marked_price        0
discounted_price    0
sizes               0
product_link        0
img_link            0
product_tag         0
brand_tag           0
discount_amount     0
discount_percent    0
dtype: int64

In [6]:
fashion.duplicated('product_name').sum()

122016

In [7]:
duplicate_rows = fashion[fashion.duplicated('product_name')]
duplicate_rows
fashion.drop_duplicates(subset=['product_name'],inplace=True)
duplicate_rows

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent
50,Seductive Noir Body Mist 250ml,GUESS,4.2,45,1490,1117,240-260 ML,perfume-and-body-mist/guess/guess-seductive-no...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",perfume-and-body-mist,guess,373,25
51,Stunning Blue Solid Saree With Embellished Border,Tikhi Imli,4.1,244,2398,1294,Onesize,sarees/tikhi-imli/tikhi-imli-solid-poly-crepe-...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",sarees,tikhi-imli,1104,46
52,Printed Anarkali Kurta,Soch,4.3,6,2998,2248,"S,M,L,XL,XXL",kurtas/soch/soch-women-multicoloured-ethnic-mo...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas,soch,750,25
53,Women Regular Fit Denim Shorts,Roadster,4.3,516,1499,749,"26,28,30,32,34,36",shorts/roadster/the-roadster-lifestyle-co-wome...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",shorts,roadster,750,50
54,Pure Cotton Printed Sweatshirt,Mast & Harbour,3.8,111,1799,629,"S,M,L,XL",sweatshirts/mast--harbour/mast--harbour-women-...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",sweatshirts,mast--harbour,1170,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
168024,Ethnic Motifs Kaftan Dress,Soch,0.0,0,3998,3998,"S/M,L/XL",dresses/soch/soch-blue-ethnic-motifs-kaftan-dr...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",dresses,soch,0,0
168025,Leather Wedge Sandals with Tassels,fitflop,0.0,0,6799,6799,"EURO36,EURO37,EURO38,EURO39,EURO40",heels/fitflop/fitflop-tan-leather-wedge-sandal...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",heels,fitflop,0,0
168026,Leather Wedge Pumps,fitflop,0.0,0,5999,5999,"EURO36,EURO37,EURO38,EURO39,EURO40",heels/fitflop/fitflop-blue-leather-wedge-pumps...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",heels,fitflop,0,0
168027,V015 Professional Hair Trimmer,VGR,0.0,0,2695,995,Onesize,trimmer/vgr/vgr-men-v-015-professional-hair-tr...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",trimmer,vgr,1700,63
168028,Women Open Toe Flats,daisie,0.0,0,1450,1377,"EURO36,EURO37,EURO38,EURO39,EURO40,EURO41",flats/daisie/daisie-women-grey-printed-open-to...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flats,daisie,73,5

In [8]:
fashion.shape

(46013, 13)

In [9]:
fashion.head(3)

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent
0,Croc Textured Two Fold Wallet,Lino Perros,0.0,0,1295,828,Onesize,wallets/lino-perros/lino-perros-women-peach-co...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets,lino-perros,467,36
1,Men Striped Sliders,Mast & Harbour,4.0,76,1299,584,"UK6,UK7,UK8,UK9,UK10,UK11",flip-flops/mast--harbour/mast--harbour-men-nav...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops,mast--harbour,715,55
2,Printed A-line Kurta,Biba,4.3,66,1999,1599,"S,M,L,XL,XXL,3XL",kurtas/biba/biba-women-off-white--black-printe...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas,biba,400,20

In [10]:
fashion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46013 entries, 0 to 167991
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_name      46013 non-null  object
 1   brand_name        46013 non-null  object
 2   rating            46013 non-null  float64
 3   rating_count      46013 non-null  int64
 4   marked_price      46013 non-null  int64
 5   discounted_price  46013 non-null  int64
 6   sizes             46013 non-null  object
 7   product_link      46013 non-null  object
 8   img_link          46013 non-null  object
 9   product_tag       46013 non-null  object
 10  brand_tag         46013 non-null  object
 11  discount_amount   46013 non-null  int64
 12  discount_percent  46013 non-null  int64
dtypes: float64(1), int64(5), object(7)
memory usage: 4.9+ MB

In [11]:
fashion = fashion[['product_name', 'brand_name', 'product_tag', 'brand_tag', 'img_link', 'product_link']]

In [12]:
fashion.head(2)

,product_name,brand_name,product_tag,brand_tag,img_link,product_link
0,Croc Textured Two Fold Wallet,Lino Perros,wallets,lino-perros,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets/lino-perros/lino-perros-women-peach-co...
1,Men Striped Sliders,Mast & Harbour,flip-flops,mast--harbour,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops/mast--harbour/mast--harbour-men-nav...

In [13]:
fashion.head(2)

,product_name,brand_name,product_tag,brand_tag,img_link,product_link
0,Croc Textured Two Fold Wallet,Lino Perros,wallets,lino-perros,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets/lino-perros/lino-perros-women-peach-co...
1,Men Striped Sliders,Mast & Harbour,flip-flops,mast--harbour,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops/mast--harbour/mast--harbour-men-nav...

In [14]:
fashion['brand_name'].apply(lambda x:x.split())
fashion['brand_name']=fashion['brand_name'].apply(lambda x:x.split())

In [15]:
fashion['product_tag'].apply(lambda x:x.split())
fashion['product_tag']=fashion['product_tag'].apply(lambda x:x.split())

In [16]:
fashion['brand_tag'].apply(lambda x:x.split())
fashion['brand_tag']=fashion['brand_tag'].apply(lambda x:x.split())

In [17]:
fashion.head(2)

,product_name,brand_name,product_tag,brand_tag,img_link,product_link
0,Croc Textured Two Fold Wallet,"[Lino, Perros]",[wallets],[lino-perros],"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets/lino-perros/lino-perros-women-peach-co...
1,Men Striped Sliders,"[Mast, &, Harbour]",[flip-flops],[mast--harbour],"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops/mast--harbour/mast--harbour-men-nav...

In [18]:
fashion['product_tag']=fashion['product_tag'].apply(lambda x:[i.replace(" ","") for i in x])

In [19]:
fashion['brand_name']=fashion['brand_name'].apply(lambda x:[i.replace(" ","") for i in x])

In [20]:
fashion['brand_tag']=fashion['brand_tag'].apply(lambda x:[i.replace(" ","") for i in x])

In [21]:
fashion.head(4)

,product_name,brand_name,product_tag,brand_tag,img_link,product_link
0,Croc Textured Two Fold Wallet,"[Lino, Perros]",[wallets],[lino-perros],"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets/lino-perros/lino-perros-women-peach-co...
1,Men Striped Sliders,"[Mast, &, Harbour]",[flip-flops],[mast--harbour],"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops/mast--harbour/mast--harbour-men-nav...
2,Printed A-line Kurta,[Biba],[kurtas],[biba],"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas/biba/biba-women-off-white--black-printe...
3,Girls Floral Printed T-shirt,[Anthrilo],[tshirts],[anthrilo],"https://assets.myntassets.com/dpr_2,q_60,w_210...",tshirts/anthrilo/anthrilo-girls-white-floral-p...

In [22]:
fashion['tags']=fashion['product_tag']+fashion['brand_name']+fashion['brand_tag']

In [23]:
fashion.tags[9]

['tops', 'H&M', 'hm']

In [24]:
new_df = fashion[['product_name','img_link','product_link','tags']]

In [25]:
new_df.head(3)

,product_name,img_link,product_link,tags
0,Croc Textured Two Fold Wallet,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets/lino-perros/lino-perros-women-peach-co...,"[wallets, Lino, Perros, lino-perros]"
1,Men Striped Sliders,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops/mast--harbour/mast--harbour-men-nav...,"[flip-flops, Mast, &, Harbour, mast--harbour]"
2,Printed A-line Kurta,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas/biba/biba-women-off-white--black-printe...,"[kurtas, Biba, biba]"

In [26]:
new_df['tags'].apply(lambda x:" ".join(x))

0                           wallets Lino Perros lino-perros
1                   flip-flops Mast & Harbour mast--harbour
2                                          kurtas Biba biba
3                                 tshirts Anthrilo anthrilo
4                      kurta-sets FASHION DWAR fashion-dwar
                                ...
167985    mangalsutra Saraf RS Jewellery saraf-rs-jewellery
167986                      messenger-bag K London k-london
167988                            night-suits Claura claura
167989                                dresses Athena athena
167991                                      cushions H&M hm
Name: tags, Length: 46013, dtype: object

In [27]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\divya.LAPTOP-0B1GN7G7\AppData\Local\Temp\ipykernel_10572\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [28]:
new_df.head(3)

,product_name,img_link,product_link,tags
0,Croc Textured Two Fold Wallet,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets/lino-perros/lino-perros-women-peach-co...,wallets Lino Perros lino-perros
1,Men Striped Sliders,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops/mast--harbour/mast--harbour-men-nav...,flip-flops Mast & Harbour mast--harbour
2,Printed A-line Kurta,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas/biba/biba-women-off-white--black-printe...,kurtas Biba biba

In [29]:
import nltk
from nltk.stem.porter import PorterStemmer

In [30]:
ps = PorterStemmer()
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [31]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\divya.LAPTOP-0B1GN7G7\AppData\Local\Temp\ipykernel_10572\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [32]:
new_df=new_df.head(20000)
new_df.shape

(20000, 4)

In [33]:
new_df.to_csv('processed_data.csv')

In [34]:
from sklearn.feature_extraction.text import CountVectorizer

In [35]:
cv=CountVectorizer(max_features = 3000,stop_words='english') #max_features means how many words you want to take out of say 50000 words

In [36]:
vectors = cv.fit_transform(new_df['tags']).toarray()
vectors.shape

(20000, 3000)

In [37]:
cv.get_feature_names_out()

array(['10', '18', '1881', ..., 'zoro', 'zouk', 'zyla'], dtype=object)

In [38]:
from sklearn.metrics.pairwise import cosine_similarity

In [39]:
similarity = cosine_similarity(vectors)

In [40]:
import pickle
with open('similarity_matrix.pkl', 'wb') as file:
    pickle.dump(similarity, file)

In [41]:
similarity.shape

(20000, 20000)

In [42]:
similarity[2]

array([0., 0., 1., ..., 0., 0., 0.])

In [43]:
def recommend(fashion):
    fashion_index = new_df[new_df['product_name']==fashion].index[0] # this is extracting movie index and not movie id
    distances = list(enumerate(similarity[fashion_index]))
    fashion_list = sorted(distances,reverse=True,key=lambda x:x[1])[1:6]
    
    recommended_fashion = []
    for i in fashion_list:
        recommended_fashion.append(new_df.iloc[i[0]].product_name)
    
    return recommended_fashion

In [44]:
recommended_fashion = recommend('Floral Cotton Maxi Dress')
print(recommended_fashion)

['Embellished Maxi Dress', 'Maxi Dress with Slip Dress', 'A-Line Midi Dress with Jacket', 'Dress with Front Open Jacket', 'Checked Midi Dress with Jacket']

In [45]:
fashion.product_name[5]

'Floral Cotton Maxi Dress'

In [47]:
fashion_index = fashion[fashion['product_name'] =='Floral Cotton Maxi Dress' ].index[0]  # this is extracting movie index and not movie id
distances = list(enumerate(similarity[fashion_index]))
fashion_list = sorted(distances, reverse=True, key=lambda x: x[1])[1:6]

recommended_fashion = []
for i in fashion_list:
    recommended_fashion.append(fashion.iloc[i[0]].product_name)
    
recommended_fashion

['Embellished Maxi Dress',
 'Maxi Dress with Slip Dress',
 'A-Line Midi Dress with Jacket',
 'Dress with Front Open Jacket',
 'Checked Midi Dress with Jacket']

In [48]:
final_df = pd.read_csv('processed_data.csv')

In [59]:
final_df['product_name'].iloc[0]

'Croc Textured Two Fold Wallet'

In [60]:
categories=[]
for i in range(final_df['product_name'].shape[0]):
    categories.append(final_df['product_name'].iloc[i])

In [62]:
categories[0]

'Croc Textured Two Fold Wallet'